:root {
  --white: #fff;
  --accent: salmon;
  --background: #1F170F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--white);
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 40px;
}

img {
  display: block;
  max-width: 100%;
}


/*~ Navigation Bar */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 0px 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 1rem;
}

.menu li {
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

.menu a {
  color: var(--white);
  text-decoration: none;

  padding: 10px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.menu a:hover {
  border-top-color: var(--accent);
  border-bottom-color: var(--accent);
  color: var(--accent);
}

.nav-logo img {
  width: 250px;
  height: auto;
}

/*~ Hero */
.hero {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}


.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-transform: uppercase;
}

.hero-content,
.hero-img {
  flex: 1;
}

.hero h1 {
  font-size: 7rem;
  font-weight: 600;
}

.hero p {
  max-width: 450px;
  font-size: 2.57rem;
  font-weight: 500;
}

.btn {
  background-color: black;
  color: var(--white);
  font-size: 1rem;
  border: 1px solid var(--accent);
  border-radius: 20px;

  display: inline-block;
  width: fit-content;
  padding: 18px 30px;
  margin-top: 20px;
}


/*~ Our Service */
.service {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.service h2 {
  font-size: 3rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  gap: 25px;
}

.card {
  border: 1px solid brown;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  min-height: 420px;
  justify-content: space-between;
}

.service-card {
  width: 250px;
  height: 400px;
  perspective: 1200px;
  position: relative;
  border-radius: 0 10px 10px 0;
}

.cover,
.inside {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

}

.cover {
  color: var(--white);
  cursor: pointer;
  text-align: center;

  transform-origin: left center;
  transform-style: preserve-3d;
  transition: transform .9s cubic-bezier(.25, .8, .25, 1);
  backface-visibility: hidden;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  z-index: 2;
  overflow: hidden;
}

.cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.cover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: #5b3b29;

}

.cover::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.cover h3 {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.inside {
  background: var(--background);
  color: #fff;
  cursor: pointer;
  padding: 20px;
  border: 1px solid var(--accent);
  z-index: 1;
}

.inside p {
  font-size: 1rem;
  text-align: center;
  word-spacing: 1px;
}

.service-card.open .cover {
  transform: rotateY(-160deg);
}


/*~ About us  */

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vh;
}

.about-img {
  width: 50%;
}

.about-img img {
  border-radius: 10%;
  width: 500px;
}

.about-img img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.about-content {
  width: 50%;
  border: 1px solid var(--accent);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.about-content h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.about-content p {
  text-transform: uppercase;
  line-height: 2.5;
}

.about-content a {
  text-decoration: none;
}


/*~ FAQs */
.faqs {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.faqs>h2 {
  text-align: center;
  font-size: 3rem;
}

.faq {
  border: 1px solid var(--accent);
  border-radius: 20px;
  padding: 5vh;
}

.faq summary {
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}

.faq .content {
  padding: 3vh;
}

.faq>.content p {
  font-size: 1.2rem;
}

/*~ Contact Us */
.contact {
  min-height: 80vh;
  padding: 20px 100px;
  border: 1px solid var(--accent);
  border-radius: 20px;
}

.contact h2 {
  font-size: 4rem;
  text-transform: uppercase;
  padding: 5vh 0;
  text-align: center;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr 120px;
  gap: 20px;
  align-items: start;

}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
}

.info-box h3,
.info-box a,
.info-box p {
  padding: 8px 0;
}

.info-box h3 {
  font-size: 1.5rem;
}

.info-box a {
  text-decoration: none;
  color: var(--white);
}

.info-box p {
  font-size: 1rem;
}


.contact-center form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-center input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--accent);
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.contact-center button {
  width: fit-content;
  min-height: 5vh;
  background: transparent;
  color: var(--white);
  cursor: pointer;
  border: 1px solid #9d654c;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.1rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.social-links a {
  text-decoration: none;
  width: 50px;
  min-height: 50px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 800;
}

/*~ Brands */
.partner-brands {
  width: 100%;
  /* min-height: 60vh; */
  margin: 50px 0;
}

.partner-brands h2 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.brand-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.brand-card {
  width: 200px;
  height: 280px;
  background: #34211b;
  border: 1px solid #9c6248;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.brand-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 12px 24px rgba(100, 100, 100, 0.3);
}

.brand-card img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

/*~ Footer */

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 80px;

  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  padding: 20px 20px;
}

.footer-logo {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo img {
  width: 220px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  text-decoration: none;
  width: 30px;
  min-height: 30px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 800;
}

.quick-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quick-links h2,
.contact-address h2,
.newsletter h2 {
  font-size: larger;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.quick-links a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
  text-transform: uppercase;
}

.contact-address p {
  color: #cfcfcf;
  margin-bottom: 20px;
  font-size: 16px;
}

.contact-address a {
  text-decoration: none;
  color: var(--white);
}

.newsletter {
  max-width: 420px;
  width: 100%;
}

.newsletter p {
  color: #cfcfcf;
  padding-bottom: 10px;
}

.newsletter input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #b47b5a;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  outline: none;
  font-size: 16px;
}

.newsletter button {
  width: fit-content;
  padding: 12px 24px;
  border-radius: 10px;
  margin: 20px 0;
  background: transparent;
  color: var(--white);
  border: 1px solid var(--accent);
  border-radius: 8px;
  cursor: pointer;
}



/*~ copyright */
.copyright {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .15);
}

.copyright p {
  color: #cfcfcf;
  font-size: 14px;
  margin: 0;
}